.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #00acc1;
  width: 70px;
  height: 100vh;
}

button {
  background-color: Transparent;
  border: none;
  outline: none;
}

.material-icons {
  font-size: 48px;
  color: rgba(255, 255, 255, 1);
}
